.user-info {
display: none;
position: absolute;
background-color: #888888;
border: 1px solid #cacaca;
margin: 2.938rem 0 0 0;
padding: 0.625rem;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
height: 140px auto;
width: 100px auto;
}
.user-icon {
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
border-right: solid rgb(255, 255, 255);
height:100%;
width: 8.5%;
}
.user-icon ion-icon {
width: 50px;
height: 65px;
}